<% provide(:title, "Sign up") %>
<br><br>
        <div class="row forms">
                <div class="col s12">
                        <div class="card">
                                <div class="card-content">
                                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                                      <%= devise_error_messages! %>
                                      
                                      <%- if devise_mapping.omniauthable? %>
                                        <%- resource_class.omniauth_providers.each do |provider| %>
                                        <br>
                                          <%= link_to image_tag("sign-in-facebook.png"), omniauth_authorize_path(resource_name, provider), :class => 'facebooklogin'  %><br />
                                      <br>
                                        <% end -%>
                                         <% end -%>


                                     <div class="field">
                                        <%= f.label :name %><br />
                                        <%= f.text_field :name %>
                                      </div>

                                      <div class="field">
                                        <%= f.label :email %><br />
                                        <%= f.email_field :email, autofocus: true %>
                                      </div>

                                      <div class="field">
                                        <%= f.label :password %>
                                        <% if @validatable %>
                                        <em>(<%= @minimum_password_length %> characters minimum)</em>
                                        <% end %><br />
                                        <%= f.password_field :password, autocomplete: "off" %>
                                      </div>

                                      <div class="field">
                                        <%= f.label :password_confirmation %><br />
                                        <%= f.password_field :password_confirmation, autocomplete: "off" %>
                                      </div>

                                      <div class="actions">
                                        <%= f.submit "Sign up", class: 'btn' %>
                                      </div>
                                    <% end %>
                                    
                                </div>
                        </div>
                </div>

