<% if @listings.empty? %>
    No listings to display! Go <%= link_to 'create one', new_listing_path %>.
<% else %>  
  <% @listings.each do |listing| %>
         

  <div class="card radius shadowDepth1">
    <div class="card__content card__padding">
      <div class="card__meta">

      <% if is_admin?(current_user)%>
       <div class="delete"><%= button_to "Delete", listing, :method => :delete, class: ' take-button'  %></div>
      <%end%>

      </div>
      <article class="card__article">
      <h2><%= link_to listing.venue, listing %></h2>
      <p><b>Group: </b><%= listing.group %></p>
      <p><b>Date: </b><%= listing.gamedate.strftime("%e  %B %Y") %></p>
      <p><b>Time: </b><%= listing.gametime.to_formatted_s(:time) %></p>
      </article>
      </div>

      <div class="card__action">
        <div class="card__author">
         
          <div class="card__author-content">
            <img src="<%= gravatar_url(get_user(listing.created_by)) %>" alt="user">

            <div class="card__author-content">
            <p>Created by <%= link_to users_name(listing.created_by), profile_index_path %></p>
            </div>

          </div>
          <% if is_creator?(listing,  current_user) %>
                <div class="take-button"><%= link_to 'Edit Job', listing, class: 'belize flat-button' %></div>
          <% elsif is_booked?(listing)%>
              <%if is_booker?(listing, current_user) %>
                <div class="take-button"><%= link_to 'Confirmed', listing, class: 'pomegranate flat-button' %></div>
              <%else%>
                  <div class="take-button"><%= link_to 'Unavailable', listing, class: 'midnight-blue flat-button' %></div>               
            <%end%>
          <%else%>
          <div class="take-button"><%= link_to "Reserve", reserve_listing_path(listing.id), :method => :put, class: 'green-sea flat-button' %></div>
          <%end%>
      </div>

      </div>
    </div>
  <br>
  <% end %>

<% end %>

