
  <% if @listings.empty? %>
    No listings to display! Go <%= link_to 'create one', new_listing_path %>.
  <% else %>
    <table class="table table-striped">
      <tbody>
        <% @listings.each do |listing| %>
          <tr>
            <td><%= link_to listing.title, listing %></td>
            <td class="text-right">
              <% if listing.price %>
                <%= number_to_currency(listing.price) %>
              <% end %>
            </td>
            <td>
            <% if listing.created_by == current_user.id %>
                <%= link_to "Edit Job", myprofile_path, :class=> 'promo-button take-button'  %>
              <% else %>
                 <%= link_to "Take Job", myprofile_path, :class=> 'promo-button take-button'  %>
                 <%end%>

            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
