<% provide(:title, "Listing ") %>

<br><br>  
  <div class="card radius shadowDepth1">
          <div class="card__content card__padding">
            <div class="card__meta">
              
            </div>
              <article class="card__article">
                <h2><%=@listing.venue%></h2>
                <p><b>Group: </b><%= group_name(@listing.group) %></p>
                <p><b>Date: </b><%= @listing.gamedate.strftime("%e  %B %Y") %></p>
                <p><b>Time: </b><%= @listing.gametime.to_formatted_s(:time) %></p>

              </article>

          </div>
            <div class="card__action">
              <div class="card__author">
              <img src="<%= gravatar_url(get_user(@listing.created_by)) %>" alt="user">
          <div class="card__author-content">
            Created by <%= link_to users_name(@listing.created_by), myprofile_path %>
                </div>
            <% if is_creator?(@listing,  current_user) %>
             <%= link_to 'Edit', edit_listing_path(@listing), class: 'btn btn-default take-button' %>   
              <%= link_to 'Delete', @listing, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger take-button' %>
              
              <%= form_for @listing do |f| %>
                <%= f.hidden_field :confirmed, value: true %>
                <div class="take-button"><%= f.submit 'Pay' , class: 'belize flat-button' %></div>
              <% end %>

            <%end%>
              </div>
          </div>
          
        </div>

 
