<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<% if @listing.price %>
  <p>
    <strong>Price:</strong>
    <%= number_to_currency(@listing.price) %>
  </p>
  <p>
  <strong>Created by:</strong>
  <%= link_to users_name(@listing.created_by), myprofile_path %>
  </p>
  <br>
<% end %>

 

<% if @listing.created_by == current_user.id %>
  <%= link_to 'Edit', edit_listing_path(@listing), class: 'btn btn-default' %>
<% else %>
 <%= link_to 'Take Job', @listing, method: :assign_job, class: 'btn btn-default' %>

<% end %>
<%= link_to 'Destroy', @listing, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
