<% provide(:title, "Listing ") %>

<div class ="container">        

  <div class="row">
      <div class="col s12">
        <div class="card">
           <div class="card-image">
              <img src="<%=  asset_path 'sample-1.jpg' %>">
             <!-- <span class="card-title">Card Title</span> -->
            </div>
            <div class="card-content">
            <span class="card-title"><%= link_to @listing.venue %></span>
            <article>
                        <% if @listing.group != nil %>
                        <p><b>Group: </b><%= group_name(@listing.group)%></p>
                        <%end%>
                        <p><b>Date: </b><%= @listing.gamedate.strftime("%e  %B %Y") %></p>
                        <p><b>Time: </b><%= @listing.gametime.to_formatted_s(:time) %></p>
            </article>
            </div>
            <div class="card-action white-links">
            <% if is_creator?(@listing,  current_user) %>
                    <%= link_to 'Edit', edit_listing_path(@listing), class: 'waves-effect waves-light btn white-text' %>   
                    <%= link_to 'Delete', @listing, method: :delete, data: { confirm: 'Are you sure?' }, class: 'waves-effect waves-light btn white-text' %>
              <% end %>
              </div>
            </div>
      </div>
  </div>
</div>