<br>
<%= image_tag gravatar_url(current_user) %><br>
<%= current_user.name %>
<br>
<%= current_user.email %>
<br>
 <p> <%="Rating:  #{current_user.rating.to_s}" unless current_user.rating == nil %></p>

<%= link_to 'Edit profile', edit_user_registration_path%> 